<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- title is placed in block so it can be overriden on other pages -->
    {% block title %}<title>FILLER</title>{% endblock %}

    <!-- including JS, JQuery, and Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- including custom stylesheet -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'charbattler/style.css' %}" />
    <!-- including font for site header -->
    <link href="https://fonts.googleapis.com/css?family=Fugaz+One&effect=anaglyph" rel="stylesheet">
</head>

<body>

<div class="container page-container">

{% block content %}{% endblock %}

</div>

<div class="container footer-container">
    <div class="row">
        <div class="col-sm-12">
            <footer class="page-footer">
                <p>Copyright disclaimer goes here. </p>
            </footer>
        </div>
    </div>
</div>

</body>
</html>