{% extends 'classes/base.html' %}
{% block content %}
{% load static %}
<img src="{% static "classes/parrot.gif" %}">
<p>A TA is coming to help you soon! You are number TBA on the list.</p>
<p>Troubleshooting tips!</p>
<ul>
    <li>Review the five steps of Problem Solving</li>
    <!---<embed src="{% static class/IEC_Style_Guide.pdf}" width="500" height="375" type='pdf'>-->
    <li>Re-read the homeoword PDF</li>
    <li>If running into errors, reduce the code by commenting out specific sections and compiling smaller sections</li>
    <li>Refer to the Style Guide to ensure meeting standards</li>
</ul>
<p> <span>Please</span> be working on your code until a TA is able to meet with you</p>

{% endblock %}
