{% extends 'classes/base.html' %}
{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <p>Questions MUST be specific and demonstrate that you've given thought to the assignment</p>
      <p>We will not be able to provide proper assistance without a meaningful question to answer.</p>
    </div>
  </div>
<form action="" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
    {% for field, error in form.errors.items %}
        {{ error }}
    {% endfor %}
</form>
{% endblock %}
